Repository nandam-hub/da-lakehouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: pii-scan, bundle-validate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: local
    hooks:
      - id: pii-scan
        name: PII Scanner
        entry: python scripts/pii_scanner.py
        language: python
        files: \.(yml|yaml|py|sql|json)$
        additional_dependencies: [pydantic, pyyaml]

      - id: bundle-validate
        name: Validate Databricks Bundles
        entry: python scripts/validate_bundles.py
        language: python
        files: bundles/.*\.(yml|yaml)$
        additional_dependencies: [pyyaml, jsonschema]

Added new deployment path
  bundles/drs/databricks.yml
Due: pii-scan, bundle-validate

Workspace access to user
  bundles/drs/databricks.yml
Due: pii-scan, bundle-validate

updated root path for notebook
  bundles/drs/databricks.yml
Due: pii-scan, bundle-validate

Removed notebook path
  bundles/drs/databricks.yml
Due: pii-scan, bundle-validate

codefix
  bundles/drs/databricks.yml
  bundles/drs/resources/ingestion.ipynb
  bundles/drs/resources/src/notebooks/ingestion.ipynb
  bundles/guidewire_cda/databricks.yml
  environments/dev/config.yml
  environments/sandbox/config.yml
  environments/test/config.yml
Due: pii-scan, bundle-validate

path updated
  bundles/drs/resources/jobs/demojob.yml
Due: pii-scan, bundle-validate

updated notebook path
  bundles/drs/resources/jobs/demojob.yml
Due: pii-scan, bundle-validate

removed unwanted group names
  bundles/drs/databricks.yml
Due: pii-scan, bundle-validate

updated-catalog-name
  bundles/drs/databricks.yml
  bundles/drs/resources/raw.schema.yml
Due: pii-scan, bundle-validate

updated raw volume yml file
  bundles/drs/databricks.yml
  bundles/drs/resources/raw.volume.yml
Due: pii-scan, bundle-validate

Corrected Notebook path
  bundles/drs/databricks.yml
Due: pii-scan, bundle-validate

commented out raw volume
  bundles/drs/resources/raw.volume.yml
Due: pii-scan, bundle-validate

Add Ubuntu-based CI pipeline for sandbox deployment
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan

updated PyYAML in ci-build-sandbox lastest file
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan

Updated github runner
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan

Updated permissions
  bundles/drs/databricks.yml
  tests/data_quality/test_data_quality.py
Due: pii-scan, bundle-validate

Removed sandbox permissions
  .github/workflows/ci-build-sandbox.yml
  bundles/drs/databricks.yml
Due: pii-scan, bundle-validate

Updated level permissions
  bundles/drs/databricks.yml
Due: pii-scan, bundle-validate

notebook update
  bundles/drs/resources/ingestion.ipynb
Due: none

commented out codeql yml file
  .github/workflows/codeql.yml
Due: pii-scan

updated CI build sandbox latest yml file
  .github/workflows/ci-build-sandbox-latest.yml
  .github/workflows/ci-build-sandbox.yml
Due: pii-scan

updated guidewire cda yml files
  bundles/guidewire_cda/resources/raw.schema.yml
  bundles/guidewire_cda/resources/raw.volume.yml
Due: pii-scan, bundle-validate

updated databricks yml file for guidewire cda
  bundles/guidewire_cda/databricks.yml
Due: pii-scan, bundle-validate

updated ci builds for dev and test envs
  .github/workflows/ci-build-dev.yml
  .github/workflows/ci-build-test.yml
  .github/workflows/demo.yml
Due: pii-scan

Updated the chnages related to databricks and aws
  .github/CODEOWNERS
  .github/auto-assign-config.yml
  .github/workflows/ci-build-sandbox-latest.yml
  bundles/_common.yml
  parameters.yml
Due: pii-scan, bundle-validate

Removed ECR related code
  .github/workflows/build-template.yml
Due: pii-scan

added self hosted runner
  .github/workflows/ci-build-sandbox-latest.yml
  .github/workflows/codeql.yml
Due: pii-scan

Updated yaml
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan

Updated the yaml file
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan

Upadted latest yaml file
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan

added python install
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan

updated line numner 49
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan

Added runner runs-on: ubuntu-latest
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan

updated line no:49
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan

Updated line no 50
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan

upated region to eu-north-1
  .github/parameters.yml
  .github/workflows/ci-build-manual.yml
  .github/workflows/demo.yml
  .vscode/.github/demo.yml
Due: pii-scan

upated region name
  .github/parameters.yml
  .github/workflows/ci-build-sandbox-latest.yml
  parameters.yml
Due: pii-scan

updated line number 56
  .github/workflows/ci-build-sandbox-latest.yml
Due: pii-scan
